* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --brand-color: #60A5FA;
  --brand-color-dark: #1D4ED8;
  --bg-color: #0F172A;
  --stroke-color: #1E293B;
  --text-color-primary: #F1F5F9;
  --text-color-secondary: #CBD5E1;

  /* Typography */
  --font-family: 'Archivo', sans-serif;
  --h1: 800 1.5rem / 135% var(--font-family);
  --h2: 800 1rem / 140% var(--font-family);
  --h3: 800 0.875rem / 140% var(--font-family);
  --text-span: 600 0.875rem / 145% var(--font-family);
  --text-base: 400 1rem / 140% var(--font-family);
  --text-sm: 400 0.875rem / 160% var(--font-family);
}

body {
  font: var(--text-base);
  color: var(--text-color-primary);
  background-color: var(--bg-color);
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: var(--brand-color);
}

h1,h2,h3 {
  font: inherit;
}

.container {
  max-width: 80rem;
  padding-inline: 2rem;
  margin-inline: auto;
}

/* Utility First */
.grid {
  display: grid;
}

.grid-column {
  grid-auto-flow: column;
}