#primary {
  padding-block: 1.25rem;

  justify-content: space-between;
  /* Nesting CSS */
   div {
    display: flex;
    align-items: center;
    gap: 0.5rem
   }
}

#secondary {
  padding-block: 0.875rem;
  border: 1px solid var(--stroke-color);
  border-inline: none;
  justify-content: space-between;
}